* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
:root {
  --clr: #0f0;
  --sub: #0f0;
}

input:focus {
  outline: 0;
}
input {
  border: none;
  font-family: "Roboto Mono", monospace;
  color: var(--clr);
  font-size: 1em;
  padding: 25px 10px 7.5px;
  background-color: #333;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  width: 100%;
  position: relative;
  color: #fff;
  caret-color: #0f0;
}
body {
  background-color: black;
  height: 100vh;
  font-family: "Roboto Mono", monospace;
  overflow: hidden;
}
input::placeholder {
  color: var(--sub);
}
main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  position: fixed;
  top: 0;
  left: 0;
  gap: 2px;
}
main::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, #0f0, transparent);
  animation: animate 4s linear infinite;
  -webkit-animation: animate 4s linear infinite;
}
.box {
  aspect-ratio: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  background-color: #111;
  z-index: 1;
}
.box:hover {
  background-color: var(--clr);
  transition: 0s;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -ms-transition: 0s;
  -o-transition: 0s;
}
.form_holder {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 400px;
}
@media (max-width: 767px) {
  .form_holder {
    width: 300px;
  }
}
.form_holder form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #222;
  padding: 3rem;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.form_holder h1 {
  font-size: 2rem;
  color: var(--clr);
  margin-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
}
.form_holder .inputBox {
  position: relative;
}
.form_holder .inputBox input ~ i {
  position: absolute;
  left: 0px;
  top: 50%;
  padding: 15px 10px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  color: #aaa;
  font-style: normal;
  pointer-events: none;
  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  font-size: 1rem;
}
.form_holder .inputBox input:focus ~ i,
.form_holder .inputBox input:valid ~ i {
  transform: translateY(calc(-50% - 10px));
  -webkit-transform: translateY(calc(-50% - 10px));
  -moz-transform: translateY(calc(-50% - 10px));
  -ms-transform: translateY(calc(-50% - 10px));
  -o-transform: translateY(calc(-50% - 10px));
  font-size: 0.8em;
  color: #fff;
}
.form_holder .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form_holder .links a {
  font-size: 1em;
  transition: 300ms;
  text-decoration: none;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
}
.form_holder .links a:first-child {
  color: #fff;
}
.form_holder .links a:first-child:hover {
  color: var(--clr);
}
.form_holder .links a:last-child {
  color: var(--clr);
}
.form_holder #submit {
  padding: 10px;
  cursor: pointer;
  transition: 500ms;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -ms-transition: 500ms;
  -o-transition: 500ms;
  font-weight: bold;
  font-size: 1.25em;
  background-color: var(--clr);
  color: #111;
}
.form_holder #submit:hover {
  background-color: rgb(0, 209, 0);
}

@keyframes animate {
  0% {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
  }
}
