* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
:root {
  --clr: #038c7f;
  --sub: #027368;
}

input:focus {
  outline: 0;
}
input {
  border: none;

  color: var(--clr);
  font-size: 1rem;
  padding: 10px;
  background-color: black;
}
body {
  background-color: black;
  height: 100vh;
  overflow: hidden;
}
input::placeholder {
  color: var(--sub);
}
main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  position: fixed;
  top: 0;
  left: 0;
}
.box {
  aspect-ratio: 1;
  border: 1px solid rgba(3, 140, 127, 0.3);
  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
}
.box.animated {
  animation: boxesAnimation 0.7s alternate ease-out;
  -webkit-animation: boxesAnimation 0.7s alternate ease-out;
  animation-fill-mode: forwards;
}
.form_holder {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form_holder form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #00251f;
  padding: 3rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(3, 140, 127, 0.6),
    0 0 15px rgba(3, 140, 127, 0.6);
}
.form_holder #submit {
  cursor: pointer;
  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  font-weight: bold;
  background-color: black;
  color: var(--clr);
}
.form_holder #submit:hover {
  background-color: var(--clr);
  color: black;
}

@keyframes boxesAnimation {
  0% {
    background-color: var(--clr);
  }
  100% {
    background-color: transparent;
  }
}
